.idea/
*.pyc
src/rust/reqs/Cargo.lock
src/rust/reqs/target
src/rust/reqs/target/*
src/rust/banana/target
src/rust/banana/target/*
src/rust/banana/Cargo.lock
src/rust/banana/Db_config.toml
scripts/python/database.ini

