body {
    width: 100%;
    height: 100%;
    background-color: rgba(104, 188, 91, 0.5);
}

#app-container {
	display: flex;
	justify-content: space-around;
}

.team-container {
	text-align: center;
	display: flex;
	flex-direction: column;
    padding: 10px;
}

.req-container {
    font-size: 22px;
    border: 1px dotted green;
    padding: 10px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.champion-square {
    width: 100%;  
}

.summoner-square {
    width: 10vw;
    min-width: 50px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    color: white;
    background-color: #000;
    border: 3px solid black;
    border-radius: 10px;
    align-items: center;
}

.team-label {
    margin-bottom: 20px;
    color: black;
    font-size: 30px;
}

.summoner-square .champion-name {
    font-size: 18px;
}
