@import 'colors';

.middle-container {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
}

.reqs-container, .teams-container {
    flex: 1 1 50%;
    display: flex;
}

.reqs-container {
    background-color: lightgreen;
}

.teams-container, .reqs-container {
    .champion-square {
        width: 70px;
        height: 70px;
    }

    .summoner-square {
        text-align: center;
        margin-bottom: 10px;
    }
}

.reqs-container {

}

.vs-container {
    width: 20px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: white;
}

.team-pick {
    text-align: left;
    display: flex;

    .team-pick-stats {
        font-family: 'Lato';
        font-size: 12px;
        padding: 3px;
        .winrate {
            color: darkgreen;
        }

        .banrate {
            color: blue;
        }

        .pickrate {
            color: orange;
        }
    }
}

.champ-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    height: 30vh;
    overflow-y: scroll;
}

.champ-and-options {
    padding: 10px;
    position: relative;
}

.champ-list > .champ-and-options > .champion-square {
    width: 60px;
    height: 60px;
    border-radius: 0;
}

.champ-button-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.25s;
}

.champ-button {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    position: absolute;
    color: white;
    display: flex;
    transition: 0.1s;
    transform: scale(0.9, 0.9);
    justify-content: space-around;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;

    &:hover {
        transform: scale(1, 1);
    };
}

.champ-and-options:hover > .champ-button-group {
    opacity: 1;
}

.add-to-blue {
    bottom: 0;
    left: 0;
    background-color: $blue-team;
}

.add-to-red {
    bottom: 0;
    right: 0;
    background-color: $red-team;
}

.add-to-bans {
    top: 0;
    left: 0;
    background-color: $bans;
}