@import 'topbar'; 
@import 'championlist';
@import 'loader';

body {
    background-color: rgba(104, 188, 91, 0.5);
    margin: 0;
}

#app {
    min-height: 100vh;
}

.app-container {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Lato';
}

.main-view-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.team-container {
	text-align: center;
	display: flex;
	flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 150px;
}

.req-container {
    font-size: 22px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #daf7dc;
    overflow: hidden;
}

.req-container .summoner-square {
    margin-bottom: 15px;
    margin-right: 15px;
}

.get-reqs-button, .mode-button {
    border: 1px solid red;
    padding: 3px;
    display: inline-block;
}

.summoner-square {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
    position: relative;

    .champion-name {
        position: absolute;
        bottom: 2px;
        color: white;
        background-color: #0000006b;
        font-style: italic;
        width: calc(100% - 5px);
    }
}   

.team-label {
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    white-space: nowrap;
}

.center-container {
    display: flex;
    flex-direction: column;
    flex: 5 1 600px;
    align-items: center;
    
}

.sidebar-container {
    flex-basis: 150px;
    background-color: #000807;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;   
}

.logo {
    position: absolute;
    text-align: center;
    font-size: 42px;
}

.logo .subtitle {
    font-size: 16px;
}

.notice {
    font-size: 12px;
    color: #f0f0f0;
}

.red-team {
     .champion-square {
        border: 3px solid $red-team;
    }
}

.blue-team {
    .champion-square {
        border: 3px solid $blue-team;
    }
}

.role-select {
    width: 100%;
}

.matrix-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(145, 55px);
    grid-template-rows: repeat(145, 50px);
    font-size: 14px;
    width: 50vw;
    height: 50vh;
    overflow: scroll;
    background-color: white;
    margin-left: 25vw;
    margin-top: 25vh;
    transition: 0.5s;
    font-family: Lato, sans-serif;
}

.matrix-container.expanded {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.matrix-cell {
    padding: 3px;
    border: 1px solid #ffffb8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.matrix-left-column {
    position: sticky;
    left: 0;
    font-size: 20px;
    z-index: 1;
    transform: translate3d(0,0,0);
    background-color: rgba(91, 147, 188, 0.9);
    display: flex;
    justify-content: space-between;
}

.matrix-header {
    position: sticky;
    top: 0;
    font-size: 20px;
    z-index: 2;
    background-color: rgb(155, 91, 188);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.matrix-cell > .champion-square {
    width: 40px;
    height: 40px;
}

.matrix-cell.expanded {
    width: 200px;
    height: 200px;
    z-index: 5;
    background-color: #ffffff;
}

.expansion-toggle {
    position: sticky;
    left: 0;
    top: 0;
    background-color: rgb(104, 188, 91);
    color: white;
    cursor: pointer;
    z-index: 4;
}

.selections-enter {
  opacity: 0;
}
.selections-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.selections-exit {
  opacity: 1;
}
.selections-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}